venv
__pycache__
.env
*/.env
react/node_modules
.DS_Store
public/generated/*
react/src/Components/WebElements/twitter.txt
.env.example
backend/awsEcrLogin.sh
deployReact.sh
backend/aws-deploy/setenvs.sh
backend/setenvs.sh
backend/awsDeployBackend.sh